<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.life"
    android:versionCode="2"
    android:versionName="2.0" >
	
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->


    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/iv_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="init.SplashActivity"
            android:theme="@style/AppStart"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="main.MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="user.LoginActivity"
        android:screenOrientation="portrait">
        </activity>
        <activity android:name="user.ForgetPassActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="user.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="appoint.AppointmentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="my.MyInforActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="setting.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="appoint.HospitalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="appoint.ConfirmActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="appoint.DeptActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="appoint.DoctorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="home.ForecastActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="news.NewsOpenActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ask.AskOpenActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ask.AskNewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="my.MyLoveActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="main.SearchActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="home.ForecastResultActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
        </activity>



        <provider
            android:name="android.support.v4.content.FileProvider"

            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="d1156c4ab710a40d8a045bebdb986615" />


    </application>


</manifest>
